.card {
  background: white;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.description {
  white-space: pre-wrap;
}

.audio {
  width: 100%;
  margin: 2rem 0 1rem;
}